
.heading-padding{
  padding-bottom: 1rem;
}

.padding{
  padding: 1.5rem 3rem;
}


.portfolio-image{
    width: 400px;
}

.portfolio-table{
  padding: 1rem;
}

/* Navbar */
.navbar{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.link-group{
    list-style: none;
    display: flex;
}

.link a{
    color: #000;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 20px;
}

.link a:hover, .link.active a{
    opacity: 1;
}

/* Home Screen */
#home-section{
  margin: 10rem;
  height: 100%;
}

#home-image{
  padding: 1rem;
  max-width: 50%;
}

#name{
  font-size: 48px;
}


/* About Me */
.info-section{
  /* background-color: #D2D1D6;
  border-radius: 15px; */
  margin: 6rem;
  padding: 3rem;

}


/* Portfolio */
#portfolio-section{
  margin: 6rem;
  padding: 1.5rem 3rem;
}


/* Divider */
.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

form { max-width:420px; margin:50px auto; }
/* Contact Section */
.contact-section{
    top: 0;
    opacity: 0;
    /* padding: 100px 150px;
    height: 100vh; */
}

.contact-form input, .contact-form textarea{
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    text-transform: capitalize;
    color: #fff;
    padding: 5px 10px;
}

::placeholder{
    color: #fff;
}

#msg{
    height: 280px;
    resize: none;
    font-family: sans-serif;
}

.form-submit-btn{
    background: #ff4f4f;
    color: #fff;
    text-transform: capitalize;
    padding: 15px 40px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
