
body {
  background: #10131D;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-padding{
  padding-bottom: 1rem;
}

.padding{
  padding: 1.5rem 3rem;
}


.portfolio-image{
  width: 400px;
}

.portfolio-table{
  padding: 1rem;
}

.centered-box {
  margin: 0rem auto;
}

.rectangle-background {
  width: 70%;
  height: auto;
  max-width: 66.9375rem;
  border-radius: 1.875rem;
  background: #181D25;
  margin-bottom: 8rem;
}

.section-icon {
  width: 3rem;
  height: 3rem;
  margin: 0rem 1rem 0rem 0rem;
  position: relative;
}

.section-header {
  font-weight: 400;
  font-size: 1.5rem;
  position: relative;
  margin: 0;
  padding: .5rem;
}

.icon-title {
  margin: 2rem 2.5rem;
  display: flex;
  align-items: center;
}

.body-text {
  width: 50rem;
  height: auto;
  line-height: normal; 
  font-size: 1.1rem;
  font-weight: 100;
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 4rem 1rem 4rem;
}

.section-break {
  border: .1rem solid white;
  width: 85%;
}

/* Navbar */
.navbar{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.link-group{
    list-style: none;
    display: flex;
}
.scroll {
  background-color:#000;
}

.link a{
    color: #FFF;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 20px;
}

.link a:hover, .link.active a{
    opacity: 1;
}


/* Home Page */
/* Home Screen */
#home-section{
  margin: 0rem 13rem;
  height: 100%;
}

#home-image{
  padding: 1rem;
  max-width: 50%;
}

#name{
  width: 39.0625rem;
  height: 9.3125rem;
  flex-shrink: 0;
  color: #FFF;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#work-title {
  color: #FFF;
  font-size: 2rem;
  /* font-style: normal; */
  font-weight: 200;
  line-height: normal;
}

.circle-container {
  margin-left: 2rem;
  position: relative;
  width: 15.3125rem;
  height: 15.3125rem;
}

.circle-image {
  position: relative;
  width: 18rem; 
  height: auto; 
  z-index: 1; 
  border-radius: 50%;
  overflow: hidden;
}


/* Work Experience */
.experience-box {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: 2rem 6rem;
  /* background-color: aqua; */
}

.interactive-section {
  cursor: pointer;
  background-color: #181D25;
  /* transition: background-color 0.3s ease, cursor 0s ease; */
  /* opacity: 1; */
}

.interactive-section:hover {
  cursor: pointer;
  /* transition: opacity 0.3s ease; */
  /* opacity: 1; */
  /* background-color: #10131D; */
}

.experience-header {
  font-size: 1.2rem;
}

.experience-subtitle {
  font-size: 1rem;
  font-weight: 100;
}

.experience-body {
  font-weight: 100;
}

.experience-break {
  border: .05rem solid white;
  width: 80%;
}

.experience-link {
  color: #73a9c6;
}

/* Project Section */
.card {
  background-color: rgba(167, 194, 209, 0.34);
  color: white;
}

.card-link {
  color: #73a9c6;
}

.card-subtitle {
  padding: .5rem 0;
  font-weight: 400;
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  font-size: .9rem;
  font-weight: 100;
}

/* Contact Buttons */
.sticky-buttons {
  position: sticky;
  top: 10%; /* Adjust the position as needed */
  display: flex;
  flex-direction: column;
  align-items: flex-end;


}

.contact-button {
  margin: 1rem 2rem;
  cursor: pointer;
}

.contact-image {
  width: 3.5rem;
  height: 3.5rem;
}


/* About Me */
.info-section{
  /* background-color: #D2D1D6;
  border-radius: 15px; */
  margin: 6rem;
  padding: 3rem;
  list-style: none;

}


/* Skills */
.skill-row {
  margin: 2rem 6rem;

}

.skill-col {
  text-align: center;
}

.skill-list {
  list-style: none;
}

.skill-list li {
  margin-bottom: .5rem;
}

.list-title {
  font-size: 1.7rem;
  font-weight: 400;
}




/* Portfolio */
#portfolio-section{
  margin: 6rem;
  padding: 1.5rem 3rem;
}


/* Divider */
.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}


/* Contact Section */
#contact-section{
  margin: 6rem;
  padding: 3rem;

}
.contact-content{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}



/* Project Pages */
.project-intro{
  background-color: #D2D1D6;

}

.project-title{
  font-size: 48px;
  margin: 17rem 7rem 2rem 7rem;

}

.project-detail{
  color: #676768;
  margin: 0 0 0 7rem;
}


.project-description{
  margin: 6rem 6rem 3rem 6rem;
  padding: 3rem;
}

.project-tech-list{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-tech-list li{
  display: inline-block;
  padding: 10px 30px;
  margin: 0 20px;
}

.project-video{
  text-align: center;
  margin: 3rem 0;
}

.btn-padding{
  padding:1rem 1rem 0 1rem;
}

.btn-col{
  align-items: center;
  text-align: center;
  vertical-align: middle;

}

.project-images-title{
  margin-top: 6rem;
  margin-bottom: 0rem;
}
.project-images-text{
  margin-left: 6rem;
  margin-right: 6rem;
}

.project-images{
  max-width: 75%;
}
